body {
    background-color: #f9f9f9;
}

.sidebar {
    height: 100vh;
    position: sticky;
    top: 0;
}

.video-card img {
    width: 100%;
    border-radius: 10px;
}

.video-title {
    font-weight: 500;
    margin-top: 10px;
}

.channel-name {
    color: gray;
    font-size: 0.9rem;
}